<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel="icon" href="/img/weather.png">
        <link rel ="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class = "main-content">
            {{>header}}
            <p>This side was created by Darshil Jariwala. It uses data from the Weather API</p>
            <img class = "portrait" src = "/images/Profile Photo.jpeg">
        </div>
        
        {{>footer}}
    </body>
</html>